
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myBusinessTravelRequestLabel" translate="btravelApp.businessTravelRequest.home.createOrEditLabel">Create or edit a BusinessTravelRequest</h4>
    </div>
    <div class="modal-body" style="min-height: 750px;">
        <jh-alert-error></jh-alert-error>

        <div class="row col-xs-5">

            <div class="form-group">
                <label class="control-label" translate="btravelApp.businessTravelRequest.startDate" for="field_startDate">StartDate</label>
                <div class="input-group col-xs-12">
                    <input id="field_startDate" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="businessTravelRequest.startDate" is-open="datePickerForStartDate.status.opened"/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForStartDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>

                </div>

            </div>




            <div class="form-group">
                <label class="control-label" translate="btravelApp.businessTravelRequest.location" for="field_location">Location</label>

                <div class="input-group col-xs-12">
                    <input type="text" class="form-control" name="location" id="field_location"
                           ng-model="businessTravelRequest.location" required/>

                    <div ng-show="editForm.location.$invalid">
                        <p class="help-block"
                           ng-show="editForm.location.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>

            </div>

            <div class="form-group" ng-if="loggedIn.authorities[0] !== 'ROLE_SUPPLIER'">
                <label translate="btravelApp.businessTravelRequest.assignTo" for="field_assignTo">assignTo</label>

                <div class="input-group col-xs-12">
                    <select class="form-control" id="field_assignTo" name="assignTo"
                            ng-model="businessTravelRequest.assignTo"
                            ng-options="user as user.login for user in suppliers track by user.id" required>
                        <option value=""></option>
                    </select>

                    <div ng-show="editForm.assignTo.$invalid">
                        <p class="help-block"
                           ng-show="editForm.assignTo.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>

            </div>

        </div>

        <div class="row col-xs-offset-2 col-xs-5">

            <div class="form-group">
                <label class="control-label" translate="btravelApp.businessTravelRequest.endDate" for="field_endDate">EndDate</label>
                <div class="input-group col-xs-12">
                    <input id="field_endDate" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="businessTravelRequest.endDate" is-open="datePickerForEndDate.status.opened"/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForEndDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>

                </div>

            </div>


            <div class="form-group">
                <label class="control-label" translate="btravelApp.businessTravelRequest.centerCost" for="field_centerCost">CenterCost</label>

                <div class="input-group col-xs-12">
                    <input type="text" class="form-control" name="centerCost" id="field_centerCost"
                           ng-model="businessTravelRequest.centerCost" required/>

                    <div ng-show="editForm.centerCost.$invalid">
                        <p class="help-block"
                           ng-show="editForm.centerCost.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>

            </div>

            <div class="form-group" ng-if="loggedIn.authorities[0] !== 'ROLE_SUPPLIER'">
                <label translate="btravelApp.businessTravelRequest.user" for="field_user">Employee</label>
                <div class="input-group col-xs-12" >
                    <select class="form-control" id="field_user" name="user" ng-model="businessTravelRequest.user" ng-options="user as user.login for user in employees track by user.id">
                        <option value=""></option>
                    </select>
                </div>


            </div>
        </div>


        <div class="col-xs-12" ng-controller="ExpenseController" ng-init="loadAll(businessTravelRequest.id)"
             ng-if="(businessTravelRequest.status === 'WAITING_FOR_APPROVAL')||
                    (businessTravelRequest.status === 'ISSUING_TICKETS')||
                    (businessTravelRequest.status === 'FINISHED')">
            <center>
                <h3 style="color: cadetblue">
                    <label translate="btravelApp.businessTravelRequest.expenses"></label>
                    <span class="glyphicon glyphicon-eur"></span>
                </h3>
            </center>

            <div class="table-responsive">
                <table class="jh-table table table-striped table-bordered table-hover table-condensed">
                    <thead>
                    <tr>
                        <th><span translate="btravelApp.businessTravelRequest.expenseType">Expense type</span></th>
                        <th><span translate="btravelApp.businessTravelRequest.expenseCost">Expense cost</span></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="expense in expenses track by expense.id">
                        <td><b style="color: deepskyblue;">{{expense.expenseType.type}}</b></td>

                        <td><b style="color: darkblue">{{expense.expenseCost}}</b></td>
                    </tr>

                    </tbody>
                </table>
            </div>

        </div>


        <div ng-controller="FileUploadController" ng-init="loadAll(businessTravelRequest.id)"
             class="col-xs-12"
             ng-if="(loggedIn.authorities[0] === 'ROLE_SUPPLIER')
             &&(businessTravelRequest.status === 'ISSUING_TICKETS')">

            <center>
                <h3 style="color: cadetblue">
                    <label translate="btravelApp.businessTravelRequest.attachmentTitle"></label>
                    <span class="glyphicon glyphicon-paperclip"></span>
                </h3>
            </center>

            <hr>


            <div class="col-xs-5">

                <div class="form-group">
                    <button type="button" class="btn btn-info btn-md" style="width: 100px !important;" dropzone="">
                        <span class="glyphicon glyphicon-search"></span>
                        <span translate="btravelApp.businessTravelRequest.choose">Choose</span>
                    </button>

                    <label class="label label-info" ng-show="fileUploaded.status === 'success'">
                        <span>{{fileUploaded.name}}</span>

                    </label>


                </div>

                <div class="form-group">
                    <button type="button" class="btn btn-success btn-md" style="width: 100px !important;"
                            ng-click="uploadFile()">
                        <span class="glyphicon glyphicon-upload"></span>
                        <span translate="btravelApp.businessTravelRequest.upload">Upload</span>
                    </button>
                    <span class="label label-success" ng-show="fileUploaded.status === 'success'">
                        {{fileUploaded.status | uppercase}}
                    </span>
                </div>

                <div class="form-group">
                    <button type="button" class="btn btn-danger btn-md" style="width: 100px !important;"
                            ng-click="reset()">
                        <span class="glyphicon glyphicon-minus"></span>
                        <span translate="btravelApp.businessTravelRequest.reset">Reset</span>
                    </button>
                </div>

            </div>



            <div class="col-xs-7">

                <div class="table-responsive">
                    <table class="jh-table table table-striped table-bordered table-hover table-condensed">

                        <thead>
                            <tr>
                                <th>Filename</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                        <tr ng-repeat="attachment in attachments">
                            <td>
                                <a ng-href="{{ partialDownloadLink + attachment.fileName }}">
                                   <!-- <span class="glyphicon glyphicon-download"></span>-->
                                    {{attachment.fileName}}
                                </a>
                            </td>

                            <td>
                                <div type="button" class="btn btn-default btn-xs">
                                    <a ng-href="{{ partialDownloadLink + attachment.fileName }}">
                                        <span class="glyphicon glyphicon-download"></span>
                                    </a>
                                </div>
                                <button type="button" class="btn btn-danger btn-xs"
                                    ng-click="deleteFile(attachment.id)">
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </button>

                            </td>

                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>

            <div class="col-xs-12" style="min-height: 300px;" ng-controller="ExpenseController" ng-init="loadAll(businessTravelRequest.id)"
                 ng-if="(loggedIn.authorities[0] === 'ROLE_SUPPLIER')
             &&(businessTravelRequest.status === 'INITIATED')">

                <center>
                    <h3 style="color: cadetblue">
                        <label translate="btravelApp.businessTravelRequest.expenses"></label>
                        <span class="glyphicon glyphicon-eur"></span>
                    </h3>
                </center>


                <jh-alert-error></jh-alert-error>

                <div class="row col-xs-5">
                    <div class="form-group">
                        <label translate="btravelApp.businessTravelRequest.expenseType" for="field_expenseType">expenseType</label>
                        <select class="form-control" id="field_expenseType" required name="expenseType" ng-model="expense.expenseType" ng-options="expenseType as expenseType.type for expenseType in expensetypes track by expenseType.id">
                            <option value=""></option>
                        </select>

                        <div ng-show="editForm.expenseType.$invalid">
                            <p class="help-block"
                               ng-show="editForm.expenseType.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>

                    </div>
                </div>


                <div class="row col-xs-offset-2 col-xs-5">
                    <div class="form-group">
                        <label class="control-label" translate="btravelApp.businessTravelRequest.expenseCost" for="field_expenseCost">ExpenseCost</label>
                        <input type="number" class="form-control" name="expenseCost" id="field_expenseCost"
                               ng-model="expense.expenseCost"
                               required />

                        <div ng-show="editForm.expenseCost.$invalid">
                            <p class="help-block"
                               ng-show="editForm.expenseCost.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>


                <button type="button" ng-disabled="editForm.$invalid || isSavingExpense" ng-click="save(businessTravelRequest)" class="btn btn-primary">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                </button>

                <hr>

                <div class="table-responsive">
                    <table class="jh-table table table-striped">
                        <thead>
                        <tr jh-sort="predicate" ascending="reverse">
                            <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="expenseType.type"><span translate="btravelApp.businessTravelRequest.expenseType">expenseType</span> <span class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="expenseCost"><span translate="btravelApp.businessTravelRequest.expenseCost">ExpenseCost</span> <span class="glyphicon glyphicon-sort"></span></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="expense in expenses track by expense.id">
                            <td>{{expense.id}}</td>

                            <td>{{expense.expenseType.type}}</td>

                            <td><b>{{expense.expenseCost}}</b></td>

                            <td class="text-right">
                                <div class="btn-group flex-btn-group-container">
                                    <button type="button"
                                            ng-click="edit({id:expense.id})"
                                            class="btn btn-primary btn-sm">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                        <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                                    </button>
                                    <button type="button"
                                            ng-click="delete({id:expense.id})"
                                            class="btn btn-danger btn-sm">
                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                        <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="col-xs-12" ng-controller="FileUploadController"
                 ng-init="loadAll(businessTravelRequest.id)"
                 ng-if="(businessTravelRequest.status === 'FINISHED')">

                <center>
                    <h3 style="color: cadetblue">
                        <label translate="btravelApp.businessTravelRequest.attachmentTitle"></label>
                        <span class="glyphicon glyphicon-paperclip"></span>
                    </h3>
                </center>



                <div class="table-responsive">
                    <table class="jh-table table table-striped table-bordered table-hover table-condensed">

                        <thead>
                        <tr>
                            <th>Filename</th>
                            <th>Actions</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr ng-repeat="attachment in attachments">
                            <td>
                                <a ng-href="{{ partialDownloadLink + attachment.fileName }}">
                                    {{attachment.fileName}}
                                </a>
                            </td>


                            <td>
                                <div type="button" class="btn btn-default btn-xs">
                                    <a ng-href="{{ partialDownloadLink + attachment.fileName }}">
                                        <span class="glyphicon glyphicon-download"></span>
                                    </a>
                                </div>
                            </td>

                        </tr>

                        </tbody>
                    </table>

                </div>

            </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="addExpenses()" ng-show="(loggedIn.authorities[0] === 'ROLE_SUPPLIER')&&(businessTravelRequest.status === 'INITIATED')" >
            <span class="glyphicon glyphicon-send"></span>
                    <span
                        class="hidden-xs" translate="btravelApp.businessTravelRequest.sendExpenses">Add expenses
                    </span>
        </button>


        <button type="button" class="btn btn-primary" ng-click="finish()" ng-show="(loggedIn.authorities[0] === 'ROLE_SUPPLIER')&&(businessTravelRequest.status === 'ISSUING_TICKETS')" >
            <span class="glyphicon glyphicon-check"></span>
                    <span
                        class="hidden-xs" translate="btravelApp.businessTravelRequest.finish">Finish
                    </span>
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
            {{_csrf.token}}
        </button>
    </div>
</form>





