
<div>
    <h2><span translate="btravelApp.businessTravelRequest.detail.title">BusinessTravelRequest</span> {{businessTravelRequest.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="btravelApp.businessTravelRequest.status">Status</span>
                </td>
                <td>
                    <b>
                        <span class="form-control-static"
                              translate="{{'btravelApp.StatusBTR.' + businessTravelRequest.status}}"
                              style="color: blue;">{{businessTravelRequest.status}}</span>
                    </b>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="btravelApp.businessTravelRequest.startDate">StartDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{businessTravelRequest.startDate | date:'medium'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="btravelApp.businessTravelRequest.endDate">EndDate</span>
                </td>
                <TD>
                    <span class="form-control-static">{{businessTravelRequest.endDate | date:'medium'}}</span>
                </TD>
            </tr>
            <tr>
                <td>
                    <span translate="btravelApp.businessTravelRequest.location">Location</span>
                </td>
                <td>
                    <span class="form-control-static">{{businessTravelRequest.location}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="btravelApp.businessTravelRequest.centerCost">CenterCost</span>
                </td>
                <td>
                    <span class="form-control-static">{{businessTravelRequest.centerCost}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="btravelApp.businessTravelRequest.requestDate">RequestDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{businessTravelRequest.requestDate | date:'medium'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="btravelApp.businessTravelRequest.lastModifiedDate">LastModifiedDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{businessTravelRequest.lastModifiedDate | date:'medium'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="btravelApp.businessTravelRequest.user">user</span>
                </td>
                <td>
                    {{businessTravelRequest.user.login}}
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="btravelApp.businessTravelRequest.assignFrom">assignFrom</span>
                </td>
                <td>
                    {{businessTravelRequest.assignFrom.login}}
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="btravelApp.businessTravelRequest.assignTo">assignTo</span>
                </td>
                <td>
                    {{businessTravelRequest.assignTo.login}}
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="btravelApp.businessTravelRequest.manager">manager</span>
                </td>
                <td>
                    {{businessTravelRequest.manager.login}}
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="btravelApp.businessTravelRequest.supplier">supplier</span>
                </td>
                <td>
                    {{businessTravelRequest.supplier.login}}
                </td>
            </tr>

            <tr>
                <td><b style="color: #105cb6">Expenses</b></td>
                <td>

                    <div class="table-responsive" ng-controller="ExpenseController">
                        <table class="jh-table table">
                            <tbody>
                            <tr ng-repeat="expense in expenses track by expense.id">
                                <td><b style="color: deepskyblue;">{{expense.expenseType.type}}</b></td>
                                <td><b style="color: darkblue">{{expense.expenseCost}}</b></td>
                            </tr>
                            <tr>
                                <td><b style="color: #105cb6">Total costs</b></td>
                                <td><b style="color: red;">{{businessTravelRequest.totalCost}}</b></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </td>
            </tr>

            <tr ng-if="businessTravelRequest.status === 'ISSUING_TICKETS' || businessTravelRequest.status === 'FINISHED'">
                <td>
                    <b style="color: #105cb6"><span translate="btravelApp.businessTravelRequest.attachmentTitle"></span></b>
                </td>
                <td>
                    <div class="table-responsive" ng-controller="FileUploadController" ng-init="loadAll(businessTravelRequest.id)">
                        <table class="jh-table table table-hover table-condensed">
                            <tbody>
                            <tr ng-repeat="attachment in attachments">
                                <td>
                                    <a ng-href="{{ partialDownloadLink + attachment.fileName }}">
                                        {{attachment.fileName}}
                                    </a>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
