<div>
    <h2 translate="btravelApp.businessTravelRequest.home.title">BusinessTravelRequests</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left" ng-show="loggedIn.authorities[0] == 'ROLE_MANAGER'">
                <button class="btn btn-primary" ui-sref="businessTravelRequest.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span
class="hidden-xs"                        translate="btravelApp.businessTravelRequest.home.createLabel">Create new BusinessTravelRequest
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="{{ 'btravelApp.businessTravelRequest.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="search()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span translate="btravelApp.businessTravelRequest.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="startDate"><span translate="btravelApp.businessTravelRequest.startDate">StartDate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="endDate"><span translate="btravelApp.businessTravelRequest.endDate">EndDate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="location"><span translate="btravelApp.businessTravelRequest.location">Location</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="assignTo.login"><span translate="btravelApp.businessTravelRequest.assignTo">assignTo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="totalCost"><span translate="btravelApp.businessTravelRequest.totalCost">Total cost</span><span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="businessTravelRequest in businessTravelRequests track by businessTravelRequest.id">
                    <td><a ui-sref="businessTravelRequest.detail({id:businessTravelRequest.id})">{{businessTravelRequest.id}}</a></td>
                    <td translate="{{'btravelApp.StatusBTR.' + businessTravelRequest.status}}">{{businessTravelRequest.status}}</td>
                    <td>{{businessTravelRequest.startDate | date:'medium'}}</td>
                    <td>{{businessTravelRequest.endDate | date:'medium'}}</td>
                    <td>{{businessTravelRequest.location}}</td>
                    <td>
                        {{businessTravelRequest.assignTo.login}}
                    </td>
                    <td>
                        <b style="color: red">
                            {{businessTravelRequest.totalCost}}
                        </b>
                    </td>

                    <td>


                    <span class="label label-success" translate="Accept" style="cursor: pointer"
                        ng-click="setAccepted(businessTravelRequest.id,true)"
                        ng-show="(loggedIn.authorities[0] === 'ROLE_MANAGER')&&
                                 (businessTravelRequest.status === 'WAITING_FOR_APPROVAL')&&
                                 (businessTravelRequest.assignTo.login === loggedIn.login)">Accept</span>

                    <span class="label label-danger" translate="Reject" style="cursor: pointer;"
                          ng-click="setAccepted(businessTravelRequest.id,false)"
                          ng-show="(loggedIn.authorities[0] === 'ROLE_MANAGER')&&
                                 (businessTravelRequest.status === 'WAITING_FOR_APPROVAL')&&
                                 (businessTravelRequest.assignTo.login === loggedIn.login)">Reject</span>

                    <span class="label label-success" translate="Accepted"
                        ng-show="((loggedIn.authorities[0] === 'ROLE_SUPPLIER')&&
                                  (businessTravelRequest.status === 'ISSUING_TICKETS')&&
                                  (businessTravelRequest.assignTo.login === businessTravelRequest.supplier.login))||
                                 ((loggedIn.authorities[0] === 'ROLE_MANAGER')&&
                                  (businessTravelRequest.status === 'ISSUING_TICKETS')&&
                                  (businessTravelRequest.assignTo.login === businessTravelRequest.supplier.login))||
                                 ((loggedIn.authorities[0] === 'ROLE_EMPLOYEE')&&
                                  (businessTravelRequest.status === 'ISSUING_TICKETS'))">Accepted</span>

                    <span class="label label-danger" translate="Rejected"
                          ng-show="((loggedIn.authorities[0] === 'ROLE_SUPPLIER')&&
                                  (businessTravelRequest.status === 'INITIATED')&&
                                  (businessTravelRequest.assignTo.login === businessTravelRequest.supplier.login))||
                                 ((loggedIn.authorities[0] === 'ROLE_MANAGER')&&
                                  (businessTravelRequest.status === 'INITIATED')&&
                                  (businessTravelRequest.assignTo.login === businessTravelRequest.supplier.login))||
                                 ((loggedIn.authorities[0] === 'ROLE_EMPLOYEE')&&
                                  (businessTravelRequest.status === 'INITIATED'))">Rejected</span>

                    <span class="label label-primary" translate="Waiting"
                          ng-show="((loggedIn.authorities[0] === 'ROLE_SUPPLIER')&&
                                 (businessTravelRequest.status === 'WAITING_FOR_APPROVAL')&&
                                 (businessTravelRequest.assignTo.login === businessTravelRequest.manager.login))||
                                 ((loggedIn.authorities[0] === 'ROLE_MANAGER')&&
                                  (businessTravelRequest.status ==='WAITING_FOR_APPROVAL')&&
                                  (businessTravelRequest.assignTo.login !== loggedIn.login))||
                                 ((loggedIn.authorities[0] === 'ROLE_EMPLOYEE')&&
                                  (businessTravelRequest.status ==='WAITING_FOR_APPROVAL'))">Waiting</span>
                    </td>

                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="businessTravelRequest.detail({id:businessTravelRequest.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="businessTravelRequest.edit({id:businessTravelRequest.id})"
                                    class="btn btn-primary btn-sm" ng-show="loggedIn.authorities[0] !== 'ROLE_EMPLOYEE'" ng-disabled="businessTravelRequest.status == 'CLOSED'">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="businessTravelRequest.cancel({id:businessTravelRequest.id})"
                                    class="btn btn-success btn-sm" ng-show="(loggedIn.authorities[0] !== 'ROLE_EMPLOYEE')&&(loggedIn.authorities[0] !== 'ROLE_SUPPLIER')" ng-disabled="businessTravelRequest.status == 'CLOSED'">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.cancel"></span>
                            </button>
                            <button type="submit" ng-show="(loggedIn.authorities[0] !== 'ROLE_EMPLOYEE')&&(loggedIn.authorities[0] !== 'ROLE_SUPPLIER')"
                                    ui-sref="businessTravelRequest.delete({id:businessTravelRequest.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
