<form name="cancelForm" ng-submit="confirmCancel(businessTravelRequest.id)">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" translate="entity.cancel.title">Confirm cancel operation</h4>
    </div>

    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <p translate="btravelApp.businessTravelRequest.cancel.question" translate-values="{id: '{{businessTravelRequest.id}}'}">Are you sure you want to cancel this BusinessTravelRequest?</p>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>

        <button type="submit" ng-disabled="cancelForm.$invalid" class="btn btn-success btn-sm">
            <span class="glyphicon glyphicon-remove-sign"></span>&nbsp;<span translate="entity.action.cancelBTR">Cancel BTR</span>
        </button>
    </div>

</form>
