
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myExpenseTypeLabel" translate="btravelApp.expenseType.home.createOrEditLabel">Create or edit a ExpenseType</h4>
    </div>
    <div class="modal-body" style="min-height: 100px;">
        <jh-alert-error></jh-alert-error>

        <div class="form-group col-xs-offset-1 col-xs-6">
            <label class="control-label" translate="btravelApp.expenseType.type" for="field_type">Type</label>
            <input type="text" class="form-control" name="type" id="field_type"
                       ng-model="expenseType.type"/>

        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
