<div>
    <h2 translate="btravelApp.businessTravelRequestHistory.home.title">BusinessTravelRequestHistorys</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="{{ 'btravelApp.businessTravelRequestHistory.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="search()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span translate="btravelApp.businessTravelRequestHistory.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="assignFrom"><span translate="btravelApp.businessTravelRequestHistory.assignFrom">AssignFrom</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="assignTo"><span translate="btravelApp.businessTravelRequestHistory.assignTo">AssignTo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="totalCost"><span translate="btravelApp.businessTravelRequestHistory.totalCost">TotalCost</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="location"><span translate="btravelApp.businessTravelRequestHistory.location">Location</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastModifiedDate"><span translate="btravelApp.businessTravelRequestHistory.lastModifiedDate">LastModifiedDate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="businessTravelRequest.id"><span translate="btravelApp.businessTravelRequestHistory.businessTravelRequest">businessTravelRequest</span> <span class="glyphicon glyphicon-sort"></span></th>

                     <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="businessTravelRequestHistory in businessTravelRequestHistorys track by businessTravelRequestHistory.id">
                    <td><a ui-sref="businessTravelRequestHistory.detail({id:businessTravelRequestHistory.id})">{{businessTravelRequestHistory.id}}</a></td>
                    <td translate="{{'btravelApp.StatusBTR.' + businessTravelRequestHistory.status}}">{{businessTravelRequestHistory.status}}</td>
                    <td>{{businessTravelRequestHistory.assignFrom}}</td>
                    <td>{{businessTravelRequestHistory.assignTo}}</td>
                    <td>{{businessTravelRequestHistory.totalCost}}</td>
                    <td>{{businessTravelRequestHistory.location}}</td>
                    <td>{{businessTravelRequestHistory.lastModifiedDate | date:'medium'}}</td>
                    <td>
                        <a ui-sref="businessTravelRequest.detail({id:businessTravelRequestHistory.businessTravelRequest.id})">{{businessTravelRequestHistory.businessTravelRequest.id}}</a>
                    </td>


                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="businessTravelRequestHistory.detail({id:businessTravelRequestHistory.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
