
<div>
    <h2><span translate="btravelApp.businessTravelRequestHistory.detail.title">BusinessTravelRequestHistory</span> {{businessTravelRequestHistory.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="btravelApp.businessTravelRequestHistory.status">Status</span>
                </td>
                <td>
                    <span class="form-control-static" translate="{{'btravelApp.StatusBTR.' + businessTravelRequestHistory.status}}">{{businessTravelRequestHistory.status}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="btravelApp.businessTravelRequestHistory.startDate">StartDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{businessTravelRequestHistory.startDate | date:'medium'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="btravelApp.businessTravelRequestHistory.endDate">EndDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{businessTravelRequestHistory.endDate | date:'medium'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="btravelApp.businessTravelRequestHistory.location">Location</span>
                </td>
                <td>
                    <span class="form-control-static">{{businessTravelRequestHistory.location}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="btravelApp.businessTravelRequestHistory.centerCost">CenterCost</span>
                </td>
                <td>
                    <span class="form-control-static">{{businessTravelRequestHistory.centerCost}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="btravelApp.businessTravelRequestHistory.requestDate">RequestDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{businessTravelRequestHistory.requestDate | date:'medium'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="btravelApp.businessTravelRequestHistory.lastModifiedDate">LastModifiedDate</span>
                </td>
                <td>
                    <span class="form-control-static">{{businessTravelRequestHistory.lastModifiedDate | date:'medium'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="btravelApp.businessTravelRequestHistory.totalCost">TotalCost</span>
                </td>
                <td>
                    <span class="form-control-static">{{businessTravelRequestHistory.totalCost}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="btravelApp.businessTravelRequestHistory.employee">Employee</span>
                </td>
                <td>
                    <span class="form-control-static">{{businessTravelRequestHistory.employee}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="btravelApp.businessTravelRequestHistory.assignTo">AssignTo</span>
                </td>
                <td>
                    <span class="form-control-static">{{businessTravelRequestHistory.assignTo}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="btravelApp.businessTravelRequestHistory.supplier">Supplier</span>
                </td>
                <td>
                    <span class="form-control-static">{{businessTravelRequestHistory.supplier}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="btravelApp.businessTravelRequestHistory.assignFrom">AssignFrom</span>
                </td>
                <td>
                    <span class="form-control-static">{{businessTravelRequestHistory.assignFrom}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="btravelApp.businessTravelRequestHistory.manager">Manager</span>
                </td>
                <td>
                    <span class="form-control-static">{{businessTravelRequestHistory.manager}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="btravelApp.businessTravelRequestHistory.businessTravelRequest">businessTravelRequest</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="businessTravelRequest.detail({id:businessTravelRequestHistory.businessTravelRequest.id})">{{businessTravelRequestHistory.businessTravelRequest.id}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
